@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Merriweather&family=Montserrat&family=Open+Sans:wght@300;400&family=Poppins:wght@500&family=Sacramento&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

.wrapper {
  height: 100vh;
  margin: auto 300px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.register input {
  width: 50%;
  height: 2rem;
  outline: none;
  padding-left: 5px;
}

.list {
  width: 50%;
  padding-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #a0c6c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.list-box h2 {
  margin-top: 15px;
}
